h1 {
    color: red;
    text-align: center;

}


button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




body {
    background-color: rgb(0, 85, 31);
}
