h1 {
    color: red;
    text-align: center;
    position: relative;
    animation: text-animation ease 8s infinite;
}


button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




body {
    background-color: rgb(0, 85, 31);
}

@keyframes text-animation {
    0% {
        top: 0;
    }

    10% {
        top: 0;
    }

    20% {
        top: -40px;
    }

    30% {
        top: -40px;
    }

    40% {
        top: -80px;
    }

    50% {
        top: -80px;
    }

    60% {
        top: -120px;
    }

    70% {
        top: -120px;
    }

    80% {
        top: -160px;
    }

    90% {
        top: -160px;
    }

    100% {
        top: 0px;
    }
}